<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euro 2024 Whatsapp League</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>

<body>
    <header>
        <div class="header-container">
            <div id="header-left">
                <a href="/">Euro 2024 Whatsapp League</a>
            </div>
            <div id="header-right">
                <a href="/rules">Rules</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>