{% extends 'base.html' %}

{% block content %}
<div class="create-session-container">
    <h1>Change Password</h1>
    <div class="error-container"></div>
    <div class="success-container"></div>
    <form action="/change-password" method="post" class="login-form">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit" class="btn btn-primary">Update password</button>
    </form>
</div>

<script>
    const hash = window.location.hash;
    const accessToken = hash.split('=')[1].split('&')[0];
    console.log(accessToken);
    document.querySelector('input[name="token"]').value = accessToken;
    let successMessage = document.querySelector('.success-container');
    let errorMessage = document.querySelector('.error-container');
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        const password = document.querySelector('input[name="password"]').value;
        const confirmPassword = document.querySelector('input[name="confirm-password"]').value;
        const form = new FormData();
        form.append('password', password);
        form.append('confirm-password', confirmPassword);
        fetch('/change-password', {
            method: 'POST',
            body: form
        })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    errorMessage.textContent = data.detail;
                    errorMessage.style.display = 'block';
                    errorMessage.style.marginBottom = '10px';
                } else {
                    successMessage.textContent = 'Password updated successfully, you can now login with your new password';
                    successMessage.style.display = 'block';
                    successMessage.style.marginBottom = '10px';
                }
            });
    });
</script>
{% endblock %}