{% extends 'base.html' %}

{% block content %}
<div class="league-container">

    <h3>🏆 Leaderboard</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Last 5 Matches</th>
                    <th>DPs Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for user in standings %}
                <tr id="{{user.rank}}">
                    <td>{{user.rank}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        {{user.points}}
                        {% if user.potential_points %}
                        (+{{ user.potential_points}})
                        {% endif %}
                    </td>
                    <td>
                        <div class="matches">
                            {% for points in user.points_in_last_n_finished_matches %}
                            <span id={{"incorrect" if not points else "correct-score" if points in [5, 10]
                                else "correct-margin" if points in [3, 6] else "correct-winner" if points in [1, 2] }}>
                                {{ points if points else 0}}
                            </span>
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{user.num_wildcards_remaining}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="loading-indicator-container">
        <div class="loading-indicator"></div>
    </div>
    <div class="todays-fixtures" hidden>
        <h3>⚽ Today's Matches</h3>
    </div>
    <div class="tomorrows-fixtures" hidden>
        <h3>⚽ Tomorrow's Matches</h3>
    </div>
    <div class="historical-data" hidden>
        <h3>📆 Historical Data</h3>
        <a href="/historical-data">View historical data</a>
    </div>
    <script src="/static/scripts.js" defer></script>
</div>
{% endblock %}