{% extends 'base.html' %}

{% block content %}
<div class="create-session-container">
    <h1>Reset Password</h1>
    <div class="error-container"></div>
    <div class="success-container"></div>
    <form action="/reset-password" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
</div>

<script>
    let successMessage = document.querySelector('.success-container');
    let errorMessage = document.querySelector('.error-container');
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        const email = document.querySelector('input[name="email"]').value;
        const form = new FormData();
        form.append('email', email);
        fetch('/reset-password', {
            method: 'POST',
            body: form
        })
            .then(response => response.json())
            .then(data => {
                if (data.detail) {
                    errorMessage.textContent = data.detail;
                    errorMessage.style.display = 'block';
                    errorMessage.style.marginBottom = '10px';
                } else {
                    successMessage.textContent = 'An email has been sent to your email address with instructions to reset your password';
                    successMessage.style.display = 'block';
                    successMessage.style.marginBottom = '10px';
                }
            });
    });
</script>
{% endblock %}