{% extends 'base.html' %}

{% block content %}
<div class="create-session-container">
    <h1>Reset Password</h1>
    <div class="error-container"></div>
    <div class="success-container"></div>
    <form action="/reset-password" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send password reset link</button>
    </form>
</div>

<script>
    let successMessage = document.querySelector('.success-container');
    let errorMessage = document.querySelector('.error-container');
    let submitButton = document.querySelector('button[type="submit"]');
    document.querySelector('form').addEventListener('submit', async function (event) {
        errorMessage.style.display = 'none';
        submitButton.disabled = true;
        submitButton.textContent = 'Sending password reset link...';
        event.preventDefault();
        const email = document.querySelector('input[name="email"]').value;
        const form = new FormData();
        form.append('email', email);
        let response = await fetch('/reset-password', {
            method: 'POST',
            body: form
        })
        let responseData = await response.json();
        if (response.status !== 200) {
            errorMessage.textContent = "Something went wrong, please try again later"
            errorMessage.style.display = 'block';
            errorMessage.style.marginBottom = '10px';
            return;
        }
        successMessage.textContent = 'An email has been sent to your email address with instructions to reset your password';
        successMessage.style.display = 'block';
        successMessage.style.marginBottom = '10px';
        submitButton.disabled = false;
        submitButton.textContent = 'Send password reset link';
    });
</script>
{% endblock %}