{% extends 'base.html' %}

{% block content %}
<div class="league-container">
    <h2>TLDR</h2>
    <ol>
        <li>€25.00 to enter. Cash prizes for top 3.</li>
        <li>Competition runs for the entire duration of Euro 2024.</li>
        <li>Predict scores of Euro 2024 matches.</li>
        <li>5 points awarded for correct score, 3 points for correct margin, 1 point for correct outcome.</li>
        <li>3 point boosters (double points) to use on a match of your choice.</li>
        <li>Use point boosters at any time, but only one per match.</li>
        <li>Points are based on regular time only. Extra time goals do not count.</li>
    </ol>
    <h2>Rules of the competition</h2>
    <ol>
        <li>Fee to play is €25.00. Entry fee will be used for the final cash prize, dependent on number of players at
            start of the competition.</li>
        <li>Cash prizes will be awarded to the top 3 users who have accumulated the most points at the end of the
            competition.</li>
        <li>In the eventuality of a four-way tie in the highest total points, the users with the most correct score
            predictions
            will be
            determined as the winners.
        </li>
        <li>Competition duration is the entire duration of Euro 2024, beginning with the first match on June 14th
            2024, ending
            with the final on July 14th 2024.</li>
        <li>Users will accumulate points by predicting the scores of Euro 2024 matches.</li>
        <li>Score predictions must be submitted before the scheduled kick-off (start) time for a match. Users can update
            their
            predictions at any time
            up until the scheduled match kick-off time.</li>
        <li>Points will be awarded as follows:
            <ul>
                <li>Correct score: 5 points</li>
                <li>Correct margin (difference between goals): 3 points</li>
                <li>Correct outcome (win or loss): 1 point</li>
                <li>Incorrect prediction: 0 points</li>
            </ul>
        </li>
        <li>Users will be given three point boosters for the duration of the competition which they can use on a match
            of their choice. Users using a point booster on a match will be given double points for the match, if the
            predicted score entitles them to points.</li>
        <li>Point boosters can be used at any time during the competition, but only one point booster can be used per
            match.</li>
        <li>In-line with match predictions, users can elect to enable or disable their point booster on a match up until
            the
            scheduled match kick-off time.</li>
        <li>Only the highest applicable points will be awarded for each prediction. For example, if a user predicts a
            score
            of 2-1 and the match ends 2-1, they will receive 5 points for the correct score, assuming no point booster,
            and 10 points in the case of an activated point booster.</li>
        <li>Points are awarded based on the score at the end of regular time only, where regular time is defined as 90
            minutes + any added time. Goals scored in extra time are not
            counted towards a
            prediction.</li>
        <li>Match scores on the website are updated every 5 minutes.</li>
        <li>Potential points for the users predicted outcome will be shown during an ongoing match. Potential points are
            based on the current score in the match, and are subject to change as the match plays out. Potential points
            are displayed as (+N) next to the user's current points.</li>
        <li>Full points for the match will be added to the user's points total at the end of the match.</li>
        <li>Match scores are sourced from an external <a href="https://rapidapi.com/api-sports/api/api-football">data
                API</a>. In the event of discrepancies in the scores, the correct match score
            will be updated on the website following the conclusion of the match.</li>
    </ol>

</div>
{% endblock %}