{% extends 'base.html' %}

{% block content %}
<div class="create-session-container">
    <h1>Signup</h1>
    <form action="/signup" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
        <a href="/login" class="btn btn-link">Login</a>
        <a href="/reset-password" class="btn btn-link">Forgot your password? Reset it now</a>
    </form>
</div>
{% endblock %}